<div class="span12">
		<div class="row">
		<div class="span4">
			<div class="description"><h2>What we do?</h2>
			</div>
			<p>"we Design and Develop Softwares,Websites,E-commerce Solutions and Data Processing Services"</p>
		</div>
		<div class="span8 ">
			<%= link_to image_tag('sidebanner.png') %>

		</div>
		<div class="row">
				<div class="span4 sideimages">
					<%= link_to image_tag('hosting.png') %>
				</div>
				<div class="span6 ">

					<p class="headings">Hosting Services</p> 
					<p>We are an Australian owned company that provides Software Development, Website Development,Website Designing, E-Commerce Solutions and Data Processing Services. Operating from Australia (Melbourne), we help our clients establish their web presence. We will provide you the best solution to accomplish your needs. We ensure our client's best interest, provide value for the money and provide reliable solution at mates rates. Delivering the best services on time and within budget is our specialisation. We have dedicated team of developers with strong domain expertise and extensive skills in Open source technologies.</p>
		</div>
		<div class="span4 sideimages">
					<%= link_to image_tag('software_development.png') %>
				</div>
				<div class="span6 ">
					<p class="headings">Software Development</p> 
					<p>We are an Australian owned company that provides Software Development, Website Development,Website Designing, E-Commerce Solutions and Data Processing Services. Operating from Australia (Melbourne), we help our clients establish their web presence. We will provide you the best solution to accomplish your needs. We ensure our client's best interest, provide value for the money and provide reliable solution at mates rates. Delivering the best services on time and within budget is our specialisation. We have dedicated team of developers with strong domain expertise and extensive skills in Open source technologies.</p>
		</div>
		<div class="span4 sideimages">
					<%= link_to image_tag('software.png') %>
				</div>
				<div class="span6 ">
					<p class="headings">Software Development</p> 
					<p>We are an Australian owned company that provides Software Development, Website Development,Website Designing, E-Commerce Solutions and Data Processing Services. Operating from Australia (Melbourne), we help our clients establish their web presence. We will provide you the best solution to accomplish your needs. We ensure our client's best interest, provide value for the money and provide reliable solution at mates rates. Delivering the best services on time and within budget is our specialisation. We have dedicated team of developers with strong domain expertise and extensive skills in Open source technologies.</p>
		</div>
		<div class="span4  sideimages">
					<%= link_to image_tag('hosting.png') %>
				</div>
				<div class="span6">
				
					<p class="headings ">Web Development</p> 

					<p>We are an Australian owned company that provides Software Development, Website Development,Website Designing, E-Commerce Solutions and Data Processing Services. Operating from Australia (Melbourne), we help our clients establish their web presence. We will provide you the best solution to accomplish your needs. We ensure our client's best interest, provide value for the money and provide reliable solution at mates rates. Delivering the best services on time and within budget is our specialisation. We have dedicated team of developers with strong domain expertise and extensive skills in Open source technologies.</p>
		</div>
	</div><!--end of row-->
</div>
</div><!--end of span12-->